@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 33px;
    margin-top: 20px;
    border-radius: 10px;
}
.section-title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;
}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.players{
   display: grid;
   grid-template-columns:repeat(3,1fr);
   grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
   
}
.players img{
    width: 56px;
    height: 56px;
}
.player-name{
    padding-left: 16px;
}
hr{
   
    height: 0px;
    left: 315px;
    top: 410px;
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}
/* .............blog style........... */
.blog{
    display: flex;
}
.blogs{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-weight: 500;
    font-size: 20px;
}
.author{
    color: #9F9F9F;
    font-size: 16px;
}
.author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
.courses{
    /* display: flex;
    margin-right: 100px;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course-img{
    width: 224px;
    height: 104px;
}
.course-details{
    display: flex;
    align-items: center;
   
}
.p{
    margin-left: 20px;
}
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .players{
     grid-template-columns: repeat(1,1fr); 
    }
    .player{
       flex-direction: column;
    }
    .blogs{
        grid-template-columns: repeat(1,1fr); 
       }
       .blog{
          flex-direction: column;
          align-items: center;
          border: 1px;
          margin-bottom: 50px;
       }
       .courses{
        grid-template-columns: repeat(1,1fr); 
       }
       .course{
          flex-direction: column;
          border: 1px;
         justify-content: center;
         align-items: center;
          margin-bottom: 50px;
       }
    
}
@media only screen and (min-width:688px) and (max-width:1080px){
    .container{
        width: 100%;
    }
    .players{
     grid-template-columns: repeat(2,1fr); 
    }
    .player{
       flex-direction: column;
    }
    .blogs{
        grid-template-columns: repeat(2,1fr); 
       }
       .blog{
          flex-direction: column;
          align-items: center;
          border: 1px;
          margin-bottom: 50px;
       }
       .courses{
        grid-template-columns: repeat(2,1fr); 
       }
       .course{
          flex-direction: column;
          border: 1px;
         justify-content: center;
         align-items: center;
          margin-bottom: 50px;
       }
    
}